@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme{
    --color-primary: #282323;

    --color-secondary: #b2abab;

    --color-background: #808080;

    --background-image-random-hand: url("/random.png");

    --background-image-portrait: url("/CharPortrait_bg.png");
}

@layer base{
    main{
        font-family: Georgia, serif;
    }

    body{
        background-color: #282323;
    }

}


@utility text-gradient {
    @apply bg-linear-to-t from-[#0c142c] to-[#7788a6] bg-clip-text text-transparent;
}